.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header button {
  border: 0;
  padding: 6px 12px;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.map-wrapper {
  height: 60vh;
  width: 60vw;
  overflow: hidden;
  z-index: 2;
}

.table-group {
  cursor: pointer;
}

g > .table {
  transition: .2s fill;
}

g:hover > .table {
  fill: #E3A8A8;
  cursor: pointer;
}

.zoom-compontent {
  z-index: 1;
}

.company-detial {
  background-color: bisque;
  width: 400px;
}